[submodule "RE-TTSCat"]
	path = RE-TTSCat
	url = ../RE-TTSCat.git
[submodule "DGJv3"]
	path = DGJv3
	url = ../DGJv3.git
[submodule "ThreeDPoseTracker"]
	path = ThreeDPoseTracker
	url = ../ThreeDPoseTracker.git
[submodule "netch"]
	path = netch
	url = ../netch.git
